<!-- Menu Start -->
<div class="container-xxl py-5 bg-dark hero-header mb-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h5 class="section-title ff-secondary text-center text-primary fw-normal">Carta</h5>
      <h1 class="mb-5 text-white">Platos más populares</h1>
    </div>
    <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
      <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
        <li class="nav-item">
          <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
            <i class="fa fa-coffee fa-2x text-primary"></i>
            <div class="ps-3">
              <small class="mt-n1 mb-0 text-white">Popular</small>
              <h6 class="mt-n1 mb-0 text-white">Desayuno</h6>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
            <i class="fa fa-hamburger fa-2x text-primary"></i>
            <div class="ps-3">
              <small class="mt-n1 mb-0 text-white">Especial</small>
              <h6 class="mt-n1 mb-0 text-white">Almuerzo</h6>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
            <i class="fa fa-utensils fa-2x text-primary"></i>
            <div class="ps-3">
              <small class="mt-n1 mb-0 text-white">Favoritos</small>
              <h6 class="mt-n1 mb-0 text-white">Cena</h6>
            </div>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="tab-1" class="tab-pane fade show p-0 active">
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="public/img/menu-1.jpg" alt="Parrillada mixta" style="width: 80px;">
                <div class="w-100 d-flex flex-column text-start ps-4">
                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                    <span class="text-white">Parrillada mixta</span>
                    <span class="text-primary">$15.90</span>
                    </h5>
                    <ul class="mb-0 ps-3 text-white small">
                    <li>Costillas de cerdo y chorizo</li>
                    <li>Brochetas de vegetales</li>
                    <li>Chimichurri de la casa</li>
                    <li>Pan artesanal</li>
                    </ul>
                </div>
                </div>
            </div>

            
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="public/img/menu-2.jpg" alt="Ramen de cerdo" style="width: 80px;">
                <div class="w-100 d-flex flex-column text-start ps-4">
                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                    <span class="text-white">Ramen de cerdo</span>
                    <span class="text-primary">$10.50</span>
                    </h5>
                    <ul class="mb-0 ps-3 text-white small">
                    <li>Fideos de trigo en caldo dashi</li>
                    <li>Panceta braseada</li>
                    <li>Huevo a 6 minutos</li>
                    <li>Cebollín y nori</li>
                    </ul>
                </div>
                </div>
            </div>

            
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="public/img/menu-4.jpg" alt="Bife a la plancha con romero" style="width: 80px;">
                <div class="w-100 d-flex flex-column text-start ps-4">
                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                    <span class="text-white">Bife a la plancha con romero</span>
                    <span class="text-primary">$13.50</span>
                    </h5>
                    <ul class="mb-0 ps-3 text-white small">
                    <li>Lomo de res</li>
                    <li>Mantequilla y romero</li>
                    <li>Papas doradas</li>
                    <li>Sal marina</li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
        </div>

        <div id="tab-2" class="tab-pane fade show p-0">
          <div class="row g-4">
            
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="public/img/menu-5.jpg" alt="Ensalada mediterránea" style="width: 80px;">
                <div class="w-100 d-flex flex-column text-start ps-4">
                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                    <span class="text-white">Ensalada mediterránea</span>
                    <span class="text-primary">$7.50</span>
                    </h5>
                    <ul class="mb-0 ps-3 text-white small">
                    <li>Lechugas mixtas</li>
                    <li>Tomate cherry y pepino</li>
                    <li>Aceitunas y queso feta</li>
                    <li>Vinagreta de limón</li>
                    </ul>
                </div>
                </div>
            </div>

            
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="public/img/menu-6.jpg" alt="Lomo salteado con papas" style="width: 80px;">
                <div class="w-100 d-flex flex-column text-start ps-4">
                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                    <span class="text-white">Lomo salteado con papas</span>
                    <span class="text-primary">$9.50</span>
                    </h5>
                    <ul class="mb-0 ps-3 text-white small">
                    <li>Res salteada</li>
                    <li>Cebolla y tomate</li>
                    <li>Papas fritas</li>
                    <li>Toque de salsa de soja</li>
                    </ul>
                </div>
                </div>
            </div>

            
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="public/img/menu-8.jpg" alt="Albóndigas en salsa" style="width: 80px;">
                <div class="w-100 d-flex flex-column text-start ps-4">
                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                    <span class="text-white">Albóndigas en salsa</span>
                    <span class="text-primary">$8.50</span>
                    </h5>
                    <ul class="mb-0 ps-3 text-white small">
                    <li>Carne de res molida</li>
                    <li>Salsa de tomate y hierbas</li>
                    <li>Paprika y ajo</li>
                    <li>Puré o pan artesanal</li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
        </div>

        <div id="tab-3" class="tab-pane fade show p-0">
          <div class="row g-4">
            
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="public/img/menu-3.jpg" alt="Pizza napolitana" style="width: 80px;">
                <div class="w-100 d-flex flex-column text-start ps-4">
                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                    <span class="text-white">Pizza napolitana</span>
                    <span class="text-primary">$9.40</span>
                    </h5>
                    <ul class="mb-0 ps-3 text-white small">
                    <li>Tomate San Marzano</li>
                    <li>Mozzarella fior di latte</li>
                    <li>Albahaca y aceite de oliva</li>
                    <li>Borde leudado</li>
                    </ul>
                </div>
                </div>
            </div>

            
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="public/img/menu-7.jpg" alt="Pizza cuatro quesos" style="width: 80px;">
                <div class="w-100 d-flex flex-column text-start ps-4">
                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                    <span class="text-white">Pizza cuatro quesos</span>
                    <span class="text-primary">$9.90</span>
                    </h5>
                    <ul class="mb-0 ps-3 text-white small">
                    <li>Mozzarella</li>
                    <li>Gorgonzola</li>
                    <li>Parmesano</li>
                    <li>Provolone</li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <!-- Menu summary table (does not modify the grid above) -->
    <div class="table-responsive mt-5">
    <table class="table table-dark table-hover align-middle mb-0">
        <thead>
    <!-- Header: title + categories -->
        <tr>
            <th colspan="3" class="border-0">
            <div class="d-flex flex-column flex-lg-row align-items-lg-center justify-content-between">
                <div>
                <h5 class="section-title ff-secondary text-primary fw-normal mb-1">Carta General</h5>
                <h2 class="text-white m-0">Todos nuestros platos</h2>
                </div>
            </div>
            </th>
        </tr>

    <!-- Column headers -->
        <tr class="border-top">
            <th class="text-uppercase text-white small">Plato</th>
            <th class="text-uppercase text-white small">Precio</th>
            <th class="text-uppercase text-white small">Ingredientes</th>
        </tr>
        </thead>

        <tbody>
        <!-- Desayuno / Populares -->
        <tr>
            <td class="text-white">Parrillada mixta</td>
            <td class="text-primary fw-semibold">$15.90</td>
            <td>
            <ul class="m-0 ps-3 text-white small">
                <li>Costillas de cerdo y chorizo</li>
                <li>Brochetas de vegetales</li>
                <li>Chimichurri de la casa</li>
                <li>Pan artesanal</li>
            </ul>
            </td>
        </tr>
        <tr>
            <td class="text-white">Ramen de cerdo</td>
            <td class="text-primary fw-semibold">$10.50</td>
            <td>
            <ul class="m-0 ps-3 text-white small">
                <li>Fideos de trigo en caldo dashi</li>
                <li>Panceta braseada</li>
                <li>Huevo a 6 minutos</li>
                <li>Cebollín y nori</li>
            </ul>
            </td>
        </tr>
        <tr>
            <td class="text-white">Bife a la plancha con romero</td>
            <td class="text-primary fw-semibold">$13.50</td>
            <td>
            <ul class="m-0 ps-3 text-white small">
                <li>Lomo de res</li>
                <li>Mantequilla y romero</li>
                <li>Papas doradas</li>
                <li>Sal marina</li>
            </ul>
            </td>
        </tr>

        <!-- Almuerzo / Especial -->
        <tr>
            <td class="text-white">Ensalada mediterránea</td>
            <td class="text-primary fw-semibold">$7.50</td>
            <td>
            <ul class="m-0 ps-3 text-white small">
                <li>Lechugas mixtas</li>
                <li>Tomate cherry y pepino</li>
                <li>Aceitunas y queso feta</li>
                <li>Vinagreta de limón</li>
            </ul>
            </td>
        </tr>
        <tr>
            <td class="text-white">Lomo salteado con papas</td>
            <td class="text-primary fw-semibold">$9.50</td>
            <td>
            <ul class="m-0 ps-3 text-white small">
                <li>Res salteada</li>
                <li>Cebolla y tomate</li>
                <li>Papas fritas</li>
                <li>Toque de salsa de soja</li>
            </ul>
            </td>
        </tr>
        <tr>
            <td class="text-white">Albóndigas en salsa</td>
            <td class="text-primary fw-semibold">$8.50</td>
            <td>
            <ul class="m-0 ps-3 text-white small">
                <li>Carne de res molida</li>
                <li>Salsa de tomate y hierbas</li>
                <li>Paprika y ajo</li>
                <li>Puré o pan artesanal</li>
            </ul>
            </td>
        </tr>

        <!-- Cena / Favoritos -->
        <tr>
            <td class="text-white">Pizza napolitana</td>
            <td class="text-primary fw-semibold">$9.40</td>
            <td>
            <ul class="m-0 ps-3 text-white small">
                <li>Tomate San Marzano</li>
                <li>Mozzarella fior di latte</li>
                <li>Albahaca y aceite de oliva</li>
                <li>Borde leudado</li>
            </ul>
            </td>
        </tr>
        <tr>
            <td class="text-white">Pizza cuatro quesos</td>
            <td class="text-primary fw-semibold">$9.90</td>
            <td>
            <ul class="m-0 ps-3 text-white small">
                <li>Mozzarella</li>
                <li>Gorgonzola</li>
                <li>Parmesano</li>
                <li>Provolone</li>
            </ul>
            </td>
        </tr>
        </tbody>

        <tfoot>
        <tr>
            <td colspan="3" class="text-white small">
            * Las imágenes, precios y presentaciones son referenciales; pueden variar según disponibilidad y temporada.
            </td>
        </tr>
        </tfoot>
    </table>
    </div>

  </div>
</div>
<!-- Menu End -->
